@import "../model/colors.scss";

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
    justify-content: center;
    display: inline-flex;
    margin: 0 0.4vmin;
    border-radius: 100px;
    width: 4.1vmax;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

.pokemon-list {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin-bottom: 1vmax;
}

.pokemon-list .itens {
  width: 25%;
  height: 20vmax;
  justify-content: center;
  vertical-align: middle;
  text-align: -webkit-center;
}

.pokemon-card img {
  width: 12.5vmax;
  margin: 0.5vmax auto;
  transition: all 1s;
}

.pokemon-card {
  background-color: var(--primary-color);
  width: 14vmax;
  height: 19vmax;
  color: var(--secundary-color);
  border-radius: 20px;
  transition: all 1s;
}

.pokemon-card:hover img {
  transform: scale(1.15);
}

.pokemon-card:hover {
  border-radius: 40px;
}

h2 {
  font-size: 1.5vmax;
  text-transform: capitalize;
}

pagination-controls {
  text-align: center;
  margin: 10vmax;
  color: white;
}
