<div class="pokemon-list">
  <div
    class="item"
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }"
  >

    <img [src]="pokemon.sprites.front_default" alt="Pokemon" />

    <h1>{{ pokemon.name[0].toUpperCase() + pokemon.name.substr(1) }}</h1>
    <p><strong>Type: </strong> {{ pokemon.types[0].type.name }}</p>
    <p><strong>Height: </strong> {{ pokemon.height }}</p>
    <p><strong>Health: </strong> {{ pokemon.stats[0].base_stat }}</p>
    <p><strong>Attack Power: </strong> {{ pokemon.stats[1].base_stat }}</p>
  </div>
</div>

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
