<div class="container">
  <div class="pokemon-list">
    <div
      class="itens"
      *ngFor="
        let pokemon of pokemons
          | paginate
            : { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons }
      "
    >
      <a [routerLink]="['/pokemon-detail', pokemon.id]">
        <mat-card class="pokemon-card">
          <img mat-card-image [src]="pokemon.urlImage" alt="Pokemon" />
          <h2>{{ pokemon.name }}</h2>
          <div *ngFor="let type of pokemon.types" [ngClass]="type">
            {{ type }}
          </div>
        </mat-card>
      </a>
    </div>
  </div>

  <pagination-controls
    (pageChange)="page = $event; pokemons = []; getPokemons()"
  ></pagination-controls>
</div>
