$colors: (
  "fire": #ff6e4b,
  "grass": hsl(124, 82%, 26%),
  "electric": #b19d3a,
  "water": #16a7eb,
  "ground": #685039,
  "rock": #8a5555,
  "fairy": #c63adb,
  "poison": #a641ff,
  "bug": #2f7d43,
  "dragon": #748dbb,
  "psychic": #488d54,
  "flying": #ad0429,
  "fighting": #571313,
  "normal": #3c448b,
  "steel": #7a7a7a,
  "ghost": #5a3a79,
  "ice": #005374,
  "dark": #000,
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
    justify-content: center;
    display: inline-flex;
    margin: 0 5px;
    border-radius: 100px;
    width: 4.1vmax;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

.pokemon-list {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin-bottom: 10px;
}

.pokemon-list .itens {
  width: 25%;
  height: 20vmax;
  justify-content: center;
  vertical-align: middle;
  text-align: -webkit-center;
}

.pokemon-card img {
  width: 12.5vmax;
  margin: 10px auto;
  transition: all 1s;
}

.pokemon-card {
  background-color: var(--primary-color);
  width: 14vmax;
  height: 19vmax;
  color: var(--secundary-color);
  border-radius: 20px;
  transition: all 1s;
}

.pokemon-card:hover img {
  transform: scale(1.15);
}

.pokemon-card:hover {
  border-radius: 40px;
}

h2 {
  font-size: 25px;
}

pagination-controls {
  text-align: center;
  margin: 30px;
  color: white;
}
