<div class="pokemon-list">
  <div
    class="itens"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }
    "
  >
    <mat-card class="pokemon-card">
      <img mat-card-image [src]="pokemon.urlImage" alt="Pokemon" />
      <h2>{{ pokemon.name[0].toUpperCase() + pokemon.name.substr(1) }}</h2>
      <div
        *ngFor="let type of pokemon.types"
        class="type"
        [ngStyle]="{'background-color': setBackgroundColor(type) }"
      >
        {{ type }}
        <button (click)="setBackgroundColor(type)"></button>
      </div>
    </mat-card>
  </div>
</div>

<pagination-controls
  (pageChange)="page = $event; pokemons = []; getPokemons()"
></pagination-controls>
