@import "../model/colors.scss";

h2 {
  font-weight: bold;
  align-self: center;
  font-size: 3.5vmax;
  margin: 2vmax;
  text-transform: capitalize;
  color: white;
}

.pokemon {
  height: 100%;
  display: flex;
  flex-direction: row;
}

@each $nameType, $color in $colorsTypes {
  .#{$nameType} {
    background-color: $color;
    text-align: center;
    margin: 0 0.5vmax;
    border-radius: 100px;
    width: 11vmax;
    padding: 0.8vmax;
    font-weight: bold;
    font-size: 1.8vmax;
    color: rgb(255, 255, 255);
  }
}

.types {
  display: flex;
  flex-direction: row;
  place-self: center;
  margin-top: 2vmax;
}

.background {
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  width: 40%;
  border-radius: 0px 300px 300px 0px;
  padding-right: 4em;
}

.background img {
  width: 30vmax;
  justify-content: center;
  align-self: center;
}

.fa-arrow-left {
  color: white;
  position: absolute;
  top: 0;
  margin: 1em;
  cursor: pointer;
}

.info {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5vmax;
  color: white;
  font-weight: bold;
  width: 33vmax;
}

.progress-name {
  width: 8vmax;
  text-align-last: left;
  text-transform: uppercase;
  align-self: center;
}

.progress-bar {
  width: -webkit-fill-available;
  padding: 6px;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background: rgba(121, 121, 121, 0.25);
  box-shadow: inset 0 1px 2px rgba(151, 151, 151, 0.25),
    0 1px rgba(202, 202, 202, 0.08);
}

@each $nameStat, $color in $colorsStats {
  .#{$nameStat} {
    height: 18px;
    border-radius: 30px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05)
    );
  }
}

.about {
  color: white;
  font-size: 2.5vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33vmax;
  align-items: center;
}

.fas {
  font-size: 3.5vmin;
  margin-right: 1.5vmin;
}

.ability {
  margin-bottom: 1.1vmin;
}

.weight,
.height,
.abilities {
  display: flex;
  flex-direction: column;
  height: 6em;
  text-transform: capitalize;
  justify-content: space-evenly;
}

.title {
  color: rgba(212, 212, 212, 0.3);
}

.description {
  color: white;
  font-size: 2.5vmin;
  width: 33vmax;
  margin: 1em 0;
  line-height: 1.5;
}
