<div class="pokemon">
  <div class="background" [style.background-color]="pokemon.color">
      <img [src]="pokemon.urlImage" alt="Pokemon" />
      <h2>{{ pokemon.name }}</h2>
      <div class="types">
        <div *ngFor="let type of pokemon.types" [ngClass]="type">
          {{ type }}
        </div>
      </div>
  </div>

  <div class="stats">
    <h2>Base Stats</h2>
    <div class="info" *ngFor="let stat of pokemon.stats | keyvalue">
      <div class="progress-name">
        {{ stat.key }}
      </div>
      <div class="progress-bar">
        <div [class]="stat.key" [ngStyle]="{'width': (stat.value*100)/300 + '%'}">
          {{ stat.value + "/300"}}
        </div>                       
      </div>
    </div>
  </div>
</div>
