@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: rgb(44, 44, 44);
  --secundary-color: #efffef;
  --tertiary-color: #000;
}

html,
body {
  height: 100%;
  font-size: 2.5vmin;
  background-color: var(--tertiary-color);
}

body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}
